{{!-- {{#link-to 'categories.category' category.id}} --}}
	<h3>{{{category.label}}}</h3>
	{{!-- <a {{action 'togglePreserveView' bubble=false target='view'}}>
	Preserve View: 
	{{#if view.preserveView}}
	TRUE
	{{else}}
	FALSE
	{{/if}}
	</a> --}}
	
{{!-- {{/link-to}} --}}